<% if user_signed_in? %>
<h1 class="steelers">Steeler's Games</h1>
<table class="table table-bordered table-steelered">
  <thead>
    <tr>
      <th>Event Name</th>
      <th>Event Date</th>
      <th>Location</th>
      <th>Capacity</th>
      <% if current_user.is_fundraiser? %>
      <th></th>
      <th></th>
      <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @fundraisers.each do |fundraiser| %>
    <% fundraiser.update_count %>
    <% if fundraiser.fundraiser_type.name == "Steelers Game" %>
      <tr>
        <td><%= link_to fundraiser.name, fundraiser_path(fundraiser) %></td>
        <td><%= fundraiser.event_date.strftime("%A, %B %d, %Y") %></td>
        <td><%= fundraiser.location %></td>
        <td><%= fundraiser.total_count %>/<%= fundraiser.capacity %></td>
        <td>
          <%= render :partial => 'buttons', :locals => {:fundraiser => fundraiser} %>
        </td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<h1>Rent-A-Rowers</h1>
<table class="table table-bordered table-cmu">
  <thead>
    <tr>
      <th>Event Name</th>
      <th>Event Date</th>
      <th>Location</th>
      <th>Capacity</th>
      <% if current_user.is_fundraiser? %>
      <th></th>
      <th></th>
      <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @fundraisers.each do |fundraiser| %>
    <% if fundraiser.fundraiser_type.name == "Rent-A-Rower" %>
      <tr>
        <td><%= link_to fundraiser.name, fundraiser_path(fundraiser) %></td>
        <td><%= fundraiser.event_date.strftime("%A, %B %d, %Y") %></td>
        <td><%= fundraiser.location %></td>
        <td><%= fundraiser.total_count %>/<%= fundraiser.capacity %></td>
        <td>
          <%= render :partial => 'buttons', :locals => {:fundraiser => fundraiser} %>
        </td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<h1>Gwen's Girls</h1>
<table class="table table-bordered table-gwens">
  <thead>
    <tr>
      <th>Event Name</th>
      <th>Event Date</th>
      <th>Location</th>
      <th>Capacity</th>
      <% if current_user.is_fundraiser? %>
      <th></th>
      <th></th>
      <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @fundraisers.each do |fundraiser| %>
      <% if fundraiser.fundraiser_type.name == "Gwens Girls" %>
      <tr>
        <td><%= link_to fundraiser.name, fundraiser_path(fundraiser) %></td>
        <td><%= fundraiser.event_date.strftime("%A, %B %d, %Y") %></td>
        <td><%= fundraiser.location %></td>
        <td><%= fundraiser.total_count %>/<%= fundraiser.capacity %></td>
        <td>
          <%= render :partial => 'buttons', :locals => {:fundraiser => fundraiser} %>
        </td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<% if current_user.is_fundraiser? %>
  <%= button_to 'New', new_fundraiser_path, :method => 'get', :class => 'btn btn-primary' %>
<% end %>
<% else %>

<%= render 'public' %>

<% end %>