<h2><%= @fundraiser.name %></h2>

<p>
  <b>Type</b><br>
  <%= @fundraiser.fundraiser_type.name %>
</p>

<p>
  <b>Date</b><br>
  <%= @fundraiser.event_date %>
</p>

<p>
  <b>Location</b><br>
  <%= @fundraiser.location %>
</p>

<p>
  <b>Description</b><br>
  <%= @fundraiser.description %>
</p>

<p>
  <b>Total Count</b><br>
  <%= @fundraiser.total_count %>
</p>

<p>
  <b>Capacity</b><br>
  <%= @fundraiser.capacity %>
</p>

<div class="form-actions">
  <%= link_to 'Back', fundraisers_path, :class => 'btn'  %>
  <% if can? :update, @fundraiser %>
    <%= link_to 'Edit', edit_fundraiser_path(@fundraiser), :class => 'btn' %>
    <%= link_to 'Delete', fundraiser_path(@fundraiser), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
  <% end %>
</div>
