<h1>Listing user_lineups</h1>

<table class="table table-bordered table-striped">
  <tr>
    <th>User</th>
    <th>Lineup</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @user_lineups.each do |user_lineup| %>
  <tr>
    <td><%= user_lineup.user_id %></td>
    <td><%= user_lineup.lineup_id %></td>
    <td><%= link_to 'Show', user_lineup %></td>
    <td><%= link_to 'Edit', edit_user_lineup_path(user_lineup) %></td>
    <td><%= link_to 'Destroy', user_lineup, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User lineup', new_user_lineup_path %>
