<%= simple_form_for @user_role do |f| %>
  <%= f.error_notification %>
  <p>
    <%= f.label :user_id %><br />
    <%= f.collection_select :user_id, User.all, :id, :first_name, :prompt  => 'Select...' %>
  </p>
  <p>
    <%= f.label :role_id %><br />
    <%= f.collection_select :role_id, Role.all, :id, :name, :prompt => 'Select...' %>
  </p>
  <p><%= f.submit %></p>
<% end %>