<h1>Listing lineups</h1>

<table>
  <tr>
    <th>Boat</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lineups.each do |lineup| %>
  <tr>
    <td><%= lineup.boat_id %></td>
    <td><%= lineup.name %></td>
    <td><%= link_to 'Show', lineup %></td>
    <td><%= link_to 'Edit', edit_lineup_path(lineup) %></td>
    <td><%= link_to 'Destroy', lineup, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Lineup', new_lineup_path %>
