<h1>User Fundraisers</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Fundraiser</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @user_fundraisers.each do |user_fundraiser| %>
      <tr>
        <td><%= User.find(user_fundraiser.user_id).first_name %></td>
        <td><%= Fundraiser.find(user_fundraiser.fundraiser_id).name %></td>
        <td><%= user_fundraiser.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_user_fundraiser_path(user_fundraiser), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', user_fundraiser_path(user_fundraiser), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_user_fundraiser_path, :class => 'btn btn-primary' %>
