<h2>Sign Up Confirmation</h2></br>
<p>
You are signed up for the <b><%= @user_fundraiser.fundraiser.name %></b> fundraising event. The event is scheduled to take place on <b><%= @user_fundraiser.fundraiser.event_date.strftime("%A, %B %d, %Y") %></b>.
</p>

<div class="form-actions">
	<%= link_to 'Back', my_fundraisers_path, :class => 'btn'  %>
	<% if current_user.is_fundraiser? %>
	  	<%= link_to 'My Fundraiseres', my_fundraisers_path, :class => 'btn' %>
	  	<%= link_to 'Home', root_path, :class => 'btn' %>
  	<% end %>
</div>