		<li><%= link_to "Boats", boats_path, :class => "navlink2" %></li>
	<li><%= link_to "Practice Lineups", practice_lineups_path, :class => "navlink2" %></li>
	<li><%= link_to "Race Lineups", race_lineups_path, :class => "navlink2" %></li>
		<li><%= link_to "Rowers", rowers_path, :class => "navlink2" %></li>
	<li><%= link_to "Workout Types", workout_types_path, :class => "navlink2" %></li>