<%= form_for @practice, :html => { :class => 'form-horizontal' } do |f| %>
<%= f.error_messages %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Practice</legend>

    <div class="control-group">
      <%= f.label :date, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :date, :class => 'text_field datepicker', :dataFormat => 'DD-MM-YYYY' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :workout_type_id, :class => 'control-label' %>
      <div class="controls">
        <%= f.collection_select :workout_type_id, WorkoutType.all, :id, :name, :prompt => 'Select...' %>
      </div>
    </div>

    <div class="control-group">
    	<%= f.label :location, :class => 'control-label' %>
    	<div class="controls">
    		<%= f.select :location, Practice::LOCATIONS, :prompt => 'Select...' %>
    	</div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', practices_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
