<% if user_signed_in? %>

<h1>Listing practices</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Workout type</th>
    <th>Location</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @practices.each do |practice| %>
  <tr>
    <td><%= practice.name %></td>
    <td><%= practice.workout_type_id %></td>
    <td><%= practice.location %></td>
    <td><%= practice.date %></td>
    <td><%= link_to 'Show', practice %></td>
    <td><%= link_to 'Edit', edit_practice_path(practice) %></td>
    <td><%= link_to 'Destroy', practice, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Practice', new_practice_path %>

<% else %>
<h1>Our Practice Schedule</h1>
<div class= "main_content"></br></br>
<p>Our team rows out of the Three Rivers Rowing Association's boathouse, and spend our days on the Allegheny River. PRACTICE LOL
</div>
<% end %>