<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @practice.date %>
</p>

<p>
  <b>Workout type:</b>
  <%= @practice.workout_type_id %>
</p>

<p>
  <b>Location:</b>
  <%= @practice.location %>
</p>



<%= link_to 'Edit', edit_practice_path(@practice) %> |
<%= link_to 'Back', practices_path %>
