<%= form_for @rower, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> /Rower</legend>

    <div class="control-group">
      <%= f.label :first_name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :first_name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :last_name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :last_name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :weight, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :weight, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :height, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :height, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :rowing_side, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :rowing_side, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :email, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :email, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :phone, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :phone, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :year, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :year, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :major, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :major, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', rowers_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
