<% if user_signed_in? %>
	<li><%= link_to "My Fundraisers", my_fundraisers_path, :class => "navlink" %></li>
	<li><%= link_to "Fundraising", fundraisers_path, :class => "navlink" %></li>
	<li> <a href="#" class="navlink" rel="tooltip" data-original-title="Check Back Soon!">Practices</a></li>
	<li> <a href="#" class="navlink" rel="tooltip" data-original-title="Check Back Soon!">Races</a></li>
	<li> <a href="#" class="navlink" rel="tooltip" data-original-title="Check Back Soon!">Coaches Area</a></li>
<% else %>
	<li><%= link_to "Practices", page_path('practices'), :class => "navlink" %></li>
	<li><%= link_to "Fundraising", page_path('fundraising'), :class => "navlink" %></li>
	<li><%= link_to "Races", page_path('regattas'), :class => "navlink" %></li>
	<li><%= link_to "Our Coaches", page_path('coaches'), :class => "navlink" %></li>
	<li><%= link_to "Roster", page_path('roster'), :class => "navlink" %></li>
	<li><%= link_to "History", page_path('history'), :class => "navlink" %></li>
	<!-- <li><%= link_to "Photos", page_path('photos'), :class => "navlink" %></li> -->
	<li><%= link_to "Alumni", page_path('alumni'), :class => "navlink" %></li>
	<li><%= link_to "Contact Us", page_path('contact_us'), :class => "navlink" %></li>
<% end %>