<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CMU Crew</title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <!-- Le styles -->
    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- Le fav and touch icons -->
    <link href="images/favicon.ico" rel="shortcut icon">
    <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
  </head>
  <body>
 	<div class="nav-wrapper">

	   <div class="container">
	 		<div class="row">
				<div class="span12 navigation">
					<h1 class="title"><%= link_to "Carnegie Mellon Crew", root_path, :class => "title" %></h1>
					<ul class="nav nav-pills nav-custom">
            <%= render 'layouts/navigation' %>
					 	<%= render 'devise/menu/registration_items' %>
	  				<%= render 'devise/menu/login_items' %>
					</ul>
				</div>
			</div>
		</div>	
	</div>

	<div class="container">
		<div class="row">
			<% if user_signed_in? %>
				<%= render 'home/notifications' %>
			<% end %>
           <div class="span9">
           	<div class="well main-content">
              <%= yield %>
          	</div>

           </div>
           <div class="span3">
           	<% if user_signed_in? %>
            	<div class="well weather">
					<h4>Weather Report</h4></br>
					<p>Mostly sunny. Highs in the lower 80s. Northwest winds 5 to 10 mph with gusts up to 20 mph.</p>
					<div class="weather-icon">
						<%=image_tag("sun.png", :size => "35x35")%>
					</div>
            	</div><!--/.well weather-->
            	<div class="well fundraising">
					<h4>Fundraising Report</h4></br> 
					<p>You have completed <strong>1</strong> of <strong><%= Fundraiser::TOTAL_REQUIRED %></strong> required fundraising events.</p>
					<!-- <% if @user_fundraisers %>
						You are currently signed up for 
					<% @user_fundraisers.each do |uf| %>
						</br><%= uf.fundraiser.name %>
					<% end %>
				<% else %>
					You don't have any upcoming fundraising events!
				<% end %> -->
           		</div><!--/.well fundraising-->
           	<% else %>
           		<div class = "well recruitment">
           			<h4>Interested in Rowing?</h4></br>
			        <p>We are looking for both experienced and new rowers and coxswains to start this fall. The only requirements
			        for joining our team are a competitive personality and willingness to work hard.</br></br>
			        <a href="recruitment.html"><%= mail_to "captains@tartancrew.org", "I'm Interested" %></a>
			        </p>
           		</div>
           		<div class = "well alumni">
           			<h4>Our Alumni</h4></br>
			        <p>We've been lucky to have a large and active alumni association. </br></br>
			        <a href="http://alumni.cmu.edu/s/1410/alumni/index.aspx?sid=1410&gid=1&pgid=525">Find Them Here</a>
			        </p>
           		</div>
           	<% end %>


            </div><!--/span-->
        </div><!--/row-->
      </div><!--/content-->

      <footer>
        
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
